Repository nekoding/barista-cafeins: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: alter table column type
  app.ts
  migrate-barista
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/migrations/20231113083154_create_table_projects_and_site/migration.sql
  prisma/barista/schema.prisma
  utils/database.ts
Due: prettier --write, eslint --fix

wip: project synchronization
  .eslintrc.json
  handlers/handler.ts
Due: eslint --fix

chore: add custom query to find asset and site_point
  app.ts
  handler.ts
  handlers/handler.ts
  repositories/barista/projects.ts
  repositories/cafeins/assets.ts
  repositories/cafeins/sitepoints.ts
  repositories/cafeins/villages.ts
  services/projects.ts
  services/sitepoints.ts
  utils/database.ts
Due: eslint --fix

chore: add offset option argument
  repositories/cafeins/sitepoints.ts
  repositories/cafeins/villages.ts
Due: eslint --fix

chore: add winston logger
  app.ts
  bun.lockb
  handler.ts
  package.json
  utils/logger.ts
Due: eslint --fix

wip: flow synchronize table projects
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/migrations/20231114040138_create_table_projects_and_site/migration.sql
  prisma/barista/schema.prisma
  repositories/barista/projects.ts
  services/projects.ts
Due: prettier --write, eslint --fix

chore: handle synchronize project table
  bun.lockb
  package.json
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index-browser.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/migrations/20231114074136_create_table_logs/migration.sql
  prisma/barista/schema.prisma
  services/logs.ts
  services/projects.ts
Due: prettier --write, eslint --fix

chore: mark project is already migrated
  services/projects.ts
Due: eslint --fix

fix: migrate project table and mark table migrated
  services/projects.ts
Due: eslint --fix

chore: make migration database
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index-browser.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/migrations/20231114074136_create_table_logs/migration.sql
  prisma/barista/migrations/20231114094313_create_table_projects_logs_and_site/migration.sql
  prisma/barista/schema.prisma
Due: prettier --write, eslint --fix

chore: update schema prisma site
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index-browser.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/migrations/20231114095035_add_cafeins_uuid_to_site/migration.sql
  prisma/barista/schema.prisma
Due: prettier --write, eslint --fix

chore: handle migrate data sitepoint
  repositories/barista/projects.ts
  repositories/barista/sitepoints.ts
  repositories/cafeins/sitepoints.ts
  repositories/cafeins/villages.ts
  services/logs.ts
  services/sitepoints.ts
  types/barista/site.d.ts
Due: eslint --fix

chore: add logging when create project
  services/projects.ts
  services/sitepoints.ts
Due: eslint --fix

chore: rename table name in logger
  services/projects.ts
  services/sitepoints.ts
Due: eslint --fix

chore: fix error handling in sitepoint services
  services/sitepoints.ts
Due: eslint --fix

chore: handle migration data assets
  handler.ts
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index-browser.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/migrations/20231116080012_create_table_assets/migration.sql
  prisma/barista/schema.prisma
  repositories/barista/assets.ts
  repositories/barista/projects.ts
  repositories/barista/sitepoints.ts
  repositories/cafeins/application_parameters.ts
  repositories/cafeins/asset_categories.ts
  repositories/cafeins/asset_groups.ts
  repositories/cafeins/projects.ts
  repositories/cafeins/sitepoints.ts
  services/assets.ts
Due: prettier --write, eslint --fix

chore: rename log metadata tablename
  services/sitepoints.ts
Due: eslint --fix

chore: rename variable
  services/assets.ts
Due: eslint --fix

chore: improve performance
  services/assets.ts
  services/projects.ts
  services/sitepoints.ts
Due: eslint --fix

chore: add pm2 config
  pm2.config.cjs
Due: none

chore: add table routes
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index-browser.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/migrations/20231117011331_create_table_routes/migration.sql
  prisma/barista/schema.prisma
Due: prettier --write, eslint --fix

wip: handle migration data route
  handler.ts
  repositories/barista/routes.ts
  repositories/cafeins/routes.ts
  services/routes.ts
  types/barista/routes.d.ts
Due: eslint --fix

chore: handle counter code in project migration
  repositories/cafeins/projects.ts
  services/projects.ts
  utils/helpers.ts
Due: eslint --fix

chore: initialize new db schema
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index-browser.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/migrations/20231116035349_create_table_projects/migration.sql
  prisma/barista/migrations/20231116035542_create_table_site_points/migration.sql
  prisma/barista/migrations/20231116035609_create_table_logs/migration.sql
  prisma/barista/migrations/20231116043033_alter_column_company_and_vendor_projects/migration.sql
  prisma/barista/migrations/20231116080012_create_table_assets/migration.sql
  prisma/barista/migrations/20231117011331_create_table_routes/migration.sql
  prisma/barista/migrations/20231117092906_initialize_db_migration/migration.sql
  prisma/barista/schema.prisma
  services/sitepoints.ts
Due: prettier --write, eslint --fix

chore: add field cafeins_uuid to table cable and segment
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index-browser.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/migrations/20231117093017_add_cafeins_uuid/migration.sql
  prisma/barista/schema.prisma
Due: prettier --write, eslint --fix

chore: handle migration data project
  bun.lockb
  package.json
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index-browser.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/migrations/20231117093017_add_cafeins_uuid/migration.sql
  prisma/barista/migrations/20231118044357_initiliaze_db_migration/migration.sql
  prisma/barista/migrations/20231118045446_alter_field_create_employee_no/migration.sql
  prisma/barista/schema.prisma
  prisma/cafeins/schema.prisma
  services/projects.ts
  types/barista/site.d.ts
  types/cafeins/audit.ts
Due: prettier --write, eslint --fix

chore: handle audit log user type
  services/projects.ts
Due: eslint --fix

chore: add latest step to 0
  services/projects.ts
Due: eslint --fix

chore: fixing migration data sitepoint
  repositories/barista/sitepoints.ts
  repositories/cafeins/sitepoints.ts
  services/assets.ts
  services/sitepoints.ts
  types/barista/sitepoint.d.ts
Due: eslint --fix

chore: rebuilding schema
  prisma/barista/migrations/20231118045446_alter_field_create_employee_no/migration.sql
  prisma/barista/migrations/20231118093514_initiliaze_db_migration/migration.sql
Due: none

chore: handle migration assets
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/schema.prisma
  repositories/barista/assets.ts
  repositories/cafeins/asset_categories.ts
  repositories/cafeins/asset_groups.ts
  repositories/cafeins/projects.ts
  services/assets.ts
  types/barista/assets.d.ts
Due: prettier --write, eslint --fix

chore: move method serialize to another function
  services/assets.ts
  services/projects.ts
  services/sitepoints.ts
Due: eslint --fix

chore: handle migration data cable
  handler.ts
  prisma/barista/barista-client/edge.js
  prisma/barista/barista-client/index.d.ts
  prisma/barista/barista-client/index.js
  prisma/barista/barista-client/schema.prisma
  prisma/barista/schema.prisma
  repositories/barista/cables.ts
  repositories/barista/routes.ts
  repositories/cafeins/cable_group.ts
  repositories/cafeins/cables_category.ts
  services/cables.ts
Due: prettier --write, eslint --fix

chore: add validation when cable has same sitepoint data
  services/cables.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.js
  eslint --fix: any of: *.ts
